html, body
{
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    background-color: white;
    background-repeat: no-repeat;
    background-position:center;
    background-size: 100%;
    position: center;
}

.navbar
{
    background-color: white;
}

.navbar nav ul
{
    position: center;
    margin: initial;
    padding: inherit;
}
/*---- formating underline text on navigation bar text-----*/

.navbar nav ul > li > a
{
    text-decoration: none;
}

/*------- end of text decoration ---------------------------*/
.content
{
    padding: 2px 5px 5px 5px;
    margin: 1px 0px 0px 0px;
    width: auto;
    height: 100em;
    position: center;

}

.image 
{
    position: center;
    float: left;
}

.footer
{
    width: 100%;
    height: auto;
    background-color: black;
    position: center;
}

