html, body
{
    border-style: none;
    border-color: inherit;
    border-width: 0;
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: left;
}

header
{
    height: 100px;
    width: 100%;
    z-index: 10;
    background-color: white; /*-- header with text as logo --*/
    position: fixed;
    top: 2px;
}
    header h1
    {
        font-family:'Poiret One', cursive;
        font-weight:100;
        font: bold;
        font-size: 2.4em;
        text-align: center;
        color: black;
        text-shadow: 0px 0px 10px rgba(0,0,0,0.2)
    }


nav
{
    top: 100px;
    margin: 0 auto;
    padding: 10px 25px;
    width: 100%;
    height: 40px;
    position: fixed;
    z-index: 1;
    background-size: cover;
    background-color: black;
    float: left;
}
    
    nav ul li a
    {
        padding: inherit;
        margin: 0;
        text-align: center;
        text-decoration: none;
        list-style-type: none;
        font-family: Arial;
        font-size: medium;
        color: white;
        float: left;
        width: 10%;
    }
        
            nav a:hover
            {
                background-color: green;
            }
                nav a:focus
                {
                    background-color: red;
                }


.banner {
    top: 160px;
    width: 100%;
    height: 100%;
    z-index: -10;
    bottom: 0;
    position: fixed;
    background-size: cover;
    background-position: center center;
    background-image: url('../Images/tablet-wallpaper.jpg');
}
    .banner h2
    {
        font-family:'Brush Script MT';
        vertical-align: top;
        display: inline-block;
        font-size: medium;
        text-align: left;
        color: white;
    }
/*------- end of text decoration ---------------------------*/
.content
{
    height: 76vh;
    width: auto;
    top: 690px;
    position: relative;
    z-index: -9;
    border: 15px solid black;
    border-radius: 5px;
    background-color: seagreen;
    opacity: 0.9;
    filter: alpha(opacity: 50); /*-- For IE8 or later--*/
}



footer
{
    position:fixed;
    height: 90px;
    width: 100%;
    bottom:0;
    padding: 1px 12px 0 0;
    margin: 0;
    background-color: dimgrey;
}
    footer .validation-link
    {
        float: right;
        
    }

.about-us-text
{
    text-align: left;
    vertical-align:central;
    font-family: Dubai;
    position: fixed;
    text-decoration: none;

}
.validation-link a
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: medium;
    color: white;
    list-style-type: none;
    text-decoration: none;
    position: page;
    text-align:match-parent;
    padding: 5px 5px 5px 0;
}

.contact-content
{
    height: 800px;
    width: 100%;
    padding: 0;
    margin: 0;
    position: center;
}



.form-container
{
    position: relative;
    background-color: grey;
}

    legend
    {
        
        text-align: center;
    }
        .auto-style1 
        {
            width: 10%;
            height: 380px;
            position: center;
            margin-left: 0px;
            margin-top: 0px;
        }
        .auto-style2 {
            width: auto;
        }
        .auto-style3 {
            width: auto;
            text-align: right;
        }
        .auto-style4 {
            width: auto;
        }

.inside-content
{
    padding: 9px 9px 10px 9px;
    opacity: 9;
    margin: 2px 12px 0px 2px;
}
.contact-map
{
    background-color: white;
    width: 100%;
    padding: 0;
    margin: 0;
    height: auto;
    background-size: cover;
    position: absolute;
}

.contact-form
{
    padding: 2px 10px 2px 2px;
    text-align: left;
    background-size: cover;
    margin-right: 0px;
    float: left;
    width:60px;
}

.font-color
{
    color: white;
}

.map
{
    padding: 2px 2px 2px 2px;
    margin: 1px 30px;
    float: right;
    border: 12px solid grey;
    border-radius: 9px;

}

